requests>=2.32.2,<2.33
boto3
botocore
python-dateutil
setuptools>=78.1.1
aws_secretsmanager_caching
validators
s3transfer
jmespath
certifi>=2024.7.4
six
urllib3>=2.2.0,<2.7
idna>=3.7
packaging
pyparsing
wheel>=0.46.2
msgspec
configparser
